<nz-card nzHoverable [ngStyle]="{'width':cardWidth,'height':cardHeight}" [nzCover]="coverTemplate" (click)="handleSelection()">
    <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="example" src="{{song.picture}}" [ngStyle]="{'height':imgHeight}"/>
  </ng-template>
  <ng-template #titleTemplate>
    [{{song.title}}]
  </ng-template>
  <ng-template #descriptionTemplate>
      <nz-row>
          <nz-col nzSpan="12">
            <i nz-icon nzType="{{icons.first}}" nzTheme="outline"></i>{{song.author}}
          </nz-col>
          <nz-col nzSpan="12">
            <i nz-icon nzType="{{icons.second}}" nzTheme="outline"></i>{{song.VV}}
          </nz-col>
      </nz-row> 
  </ng-template>
  <!-- todo -->
<!-- 开放宽度，高度，内容已经开放了 -->