.rank-container{
    width:481px;
    height:700px;
    background-color: #66ccff;
}
.rank-top{
    font-size: 36px;
    margin-left:  180px;
}
.rank-top >p{
    padding-top: 71px;
}

.itemTemplate{
    height:82px;
    width: 268px;
    display: flex;
    flex-direction: row;
    margin-left: 81px;
    font-size: 32px;
    margin-bottom: 56px;
}
.itemTemplate-main{
    margin-left:20px;
}
.itemTemplate-main-author{
    font-size: 24px;
    margin-top: -45px;
}
.rank-bottom-logo{
    width:133px;
    height:126px;
    border:1px solid black;
}