<nz-card nzHoverable style="width:267px;height: 190px;" [nzCover]="coverTemplate">
    <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="example" src="{{song.picture}}" style="height: 136px;"/>
  </ng-template>
  <ng-template #titleTemplate>
    [{{song.title}}]
  </ng-template>
  <ng-template #descriptionTemplate>
      <nz-row>
          <nz-col nzSpan="12">
            <i nz-icon nzType="{{icons.first}}" nzTheme="outline"></i>{{song.author}}
          </nz-col>
          <nz-col nzSpan="12">
            <i nz-icon nzType="{{icons.second}}" nzTheme="outline"></i>{{song.VV}}
          </nz-col>
      </nz-row> 
  </ng-template>
  <!-- todo -->
<!-- 开放nzcover,width,height
开放title的名字
开放图标&后面的属性 -->