<div class="container">
    <div class="info">
        <span class="title">{{info.title}}</span>
        <span class="linkName">{{info.linkName}}</span>
    </div>
    <div class="recordData">
        <div class="songNmber">
            <div class="icon">
                
            </div>
            <div class="number">
                {{data.songNmber}}
            </div>
        </div>
        <div class="upNmber">
            <div class="icon">
                
            </div>
            <div class="number">
                {{data.upNmber}}
            </div>
        </div>
    </div>
</div>
