.container{
    width:100%;
    height:249px;
    background-color: #66ccff;
    color: white;
}
.info{
    padding-top: 25px;
}
.info .title{
    font-size:18px;
    padding-left: 924px;
}
.info .linkName{
    font-size:15px;
    padding-left: 566px;
}

.recordData{
    padding-top: 72px;
    display: flex;
    flex-direction: row;
}
.icon{
    width:85px;
    height:77px;
    opacity:0.7;
    /* border:1px solid black; */
}
.songNumber{
    display: flex;
    margin-left: 760px;
}
.upNumber{
    padding-left:250px;
}