<div  class="recommandPart">
    <!-- <ng-template #oneRow>
        <nz-row >
            <div *ngFor="let song of songs; let i=index">
              <nz-col nzSpan="4">
                  <div class="recommandPart-content-card">
                      <app-recommend-card [song]="song" [icons]="icons" (cardSelected)="handleCardSelected($event)" [imgHeight]="imgHeight" *ngIf="i<5"></app-recommend-card>
                  </div> 
              </nz-col>
            </div>
      </nz-row>
    </ng-template> -->
    <nz-row >
        <div *ngFor="let song of songs; let i=index">
          <nz-col nzSpan="4">
              <div class="recommandPart-content-card">
                  <app-recommend-card [song]="song" [icons]="icons" (cardSelected)="handleCardSelected($event)" [imgHeight]="imgHeight" *ngIf="i<5"></app-recommend-card>
              </div> 
          </nz-col>
        </div>
  </nz-row>
  <div  style="margin-top: 54px;">
    <nz-row >
        <div *ngFor="let song of songs; let i=index">
          <nz-col nzSpan="4">
              <div class="recommandPart-content-card">
                  <app-recommend-card [song]="song" [icons]="icons" (cardSelected)="handleCardSelected($event)" [imgHeight]="imgHeight" *ngIf="i<5"></app-recommend-card>
              </div> 
          </nz-col>
        </div>
    </nz-row>
  </div>

</div>
